* {
  margin: 0px;
  padding: 0px;
  outline: none;
  border: 0px;
}

p {
  font-family: "IM Fell DW Pica SC", serif;
}

a {
    color: white;
    text-decoration: none;
}

#headerExtender {
  display: block;
  background-image:
    linear-gradient(to top, #000, transparent 45%),
    url(global_assets/YoungLadiesofTheVillage.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 300px;
  position: relative;
}

#mainHeader {
  display: flex;
  flex-wrap: wrap;
  height: auto;
  width: 100%;
  align-items: baseline;
  font-family: "IM Fell DW Pica SC", serif;
  font-size: 32px;
  backdrop-filter: blur(1.5px);
}

#navButtons {
  position: relative;
  text-align: center;
  display: flex;
  column-gap: 2em;
  margin: auto;
  color: white;
  filter: drop-shadow(1px 2px 5px black);
  left: 50px;
}

.navButton:hover {
  color: yellow;
}

#userImg {
  display: block;
  width: 50px;
  height: 50px;
  padding-right: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
}

#pfp {
  position: relative;
  height: 100%;
  width: 100%;
}

#titleText {
  position: relative;
  display: block;
  justify-self: center;
  top: 25%;
  color: white;
  filter: drop-shadow(1px 2px 5px black);
  font-family: "IM Fell DW Pica SC", serif;
  font-size: 35px;
}

#playButton {
  position: relative;
  display: block;
  justify-self: center;
  top: 30%;
  color: white;
  filter: drop-shadow(1px 2px 5px black);
  font-family: "IM Fell DW Pica SC", serif;
  font-size: 30px;
  text-decoration: underline;
  text-decoration-thickness: 2px;
}

#homeStats {
  position: fixed;
  width: 100vw;
  height: calc(100vh - 300px);
  background-color: antiquewhite;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 5vw;
}

.bodyItem {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  max-height: 900px;
  justify-content: center;
  align-items: center;
}

#about {
  margin-right: 4vw;
}

#bestStats {
  margin-left: 4vw;
  row-gap: 1vh;
}

.statBox {
  width: 100%;
  height: auto;
  max-height: 100%;
}

#favMuseumBox {
  position: relative;
  height: auto;
  width: 95%;
}

#bestCategoryBox {
  position: relative;
    height: auto;
  width: 95%;
}

#bestStreakBox {
  position: relative;
    height: auto;
  width: 95%;
}

.statText {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.5vw;
}

#topScores{
  display: flex;
}

#topScoresBox {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: auto;
  height: 26vw;
  font-size: 1.57vw;
}
#blurForLogin {
  height: 100%;
  width: 100%;
  position:absolute;
  backdrop-filter: blur(1px);
  display: none; /* Will set this to inline when making it visible */
}

#userLogin {
  display: none; /* Will set this to flex when making it visible */
  flex-direction: column;
  position: absolute;
  justify-content: center;
  text-align: center;
  width: 50%;
  height: calc(50% - 300px);
  flex-direction: column;
}

/* Borrowed from firebase lab with some changes made */

:root {
    --border-width: 3px;
    --element-border-radius: 5px;
    
    --button-height: 5px;
    
    --small-button-height: 2px;
    
    --element-padding: 0.8em;
    
    --maximum-width: 320px;
}

input, button, textarea {
   font-family: inherit;
   padding: var(--element-padding);
   border-radius: var(--element-border-radius);
   width: 100%;
   box-sizing: border-box;
}

input, button {
   font-size: 1.1em;
   text-align: center;
   font-family: "IM Fell DW Pica SC", serif;
}

input:focus, button:focus, textarea:focus {
   outline: none;
}

input {
    font-weight: 300;
}

button {
  background-color: antiquewhite;
}