* {
  margin: 0px;
  padding: 0px;
  outline: none;
  border: 0px;
}

p {
  font-family: "IM Fell DW Pica SC", serif;
}

a {
    color: white;
    text-decoration: none;
}

body {
  background-color: antiquewhite;
}

#headerExtender {
  display: block;
  background-image:
    linear-gradient(to top, #000, transparent 45%),
    url(../global_assets/YoungLadiesofTheVillage.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

#mainHeader {
  display: flex;
  flex-wrap: wrap;
  height: auto;
  width: 100%;
  align-items: baseline;
  font-family: "IM Fell DW Pica SC", serif;
  font-size: 32px;
  backdrop-filter: blur(1.5px);
}

#navButtons {
  position: relative;
  text-align: center;
  display: flex;
  column-gap: 2em;
  margin: auto;
  color: white;
  filter: drop-shadow(1px 2px 5px black);
}

.navButton:hover {
  color: yellow;
}

#titleText {
  position: relative;
  display: block;
  justify-self: center;
  top: 4vh;
  color: rgb(0, 0, 0);
  font-family: "IM Fell DW Pica SC", serif;
  font-size: 35px;
}

#guideBox {
  padding-top: 4vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-family: "IM Fell DW Pica SC", serif;
  row-gap: 10px;
}

.resourceLink {
  color: black;
  font-size: 15px;
}