* {
  margin: 0px;
  padding: 0px;
  outline: none;
  border: 0px;
}

p {
  font-family: "IM Fell DW Pica SC", serif;
}

a {
    color: white;
    text-decoration: none;
}

body {
  background-image: linear-gradient(rgb(253, 224, 191),transparent);
  background-color: rgb(252, 245, 236);
}

#headerExtender {
  display: block;
  background-image:
    linear-gradient(to top, #000, transparent 45%),
    url(../global_assets/YoungLadiesofTheVillage.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

#mainHeader {
  display: flex;
  flex-wrap: wrap;
  height: auto;
  width: 100%;
  align-items: baseline;
  font-family: "IM Fell DW Pica SC", serif;
  font-size: 32px;
  backdrop-filter: blur(1.5px);
}

#navButtons {
  position: relative;
  text-align: center;
  display: flex;
  column-gap: 2em;
  margin: auto;
  color: white;
  filter: drop-shadow(1px 2px 5px black);
}

.navButton:hover {
  color: yellow;
}

#titleText {
  position: relative;
  display: block;
  justify-self: center;
  top: 4vh;
  color: rgb(0, 0, 0);
  font-family: "IM Fell DW Pica SC", serif;
  font-size: 35px;
}

#gameBody {
  width: 100%;
  height: calc(100vh - 60px);
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

#artImage {
  width: auto;
  height: 20vh;
}

#museumSelect {
  position:relative;
  appearance: none;
  margin: 50px auto;
  padding: 5px 35px 5px 5px;
  font-size: 16px;
  border: 1px solid #CCC;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  height: 5vh;
  width: 20vw;
  background: url(../global_assets/YoungLadiesofTheVillage.jpg);
  background-position: bottom;
  color:white;
  font-family: "IM Fell DW Pica SC", serif;
  text-align: center;
  text-align-last: center;
}

#museumSelect:hover {
  color: yellow;
}

option {
  background-color: black;
  background-position: bottom;
  text-align: center;
}

#selectPieceButton {
  background-image: url(../global_assets/YoungLadiesofTheVillage.jpg);
  background-position: bottom;
  color: white;
  font-family: "IM Fell DW Pica SC", serif;
  height: 5vh;
  width: 20vw;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  font-size: 15px;
}

#selectPieceButton:hover {
  color: yellow;
}

label {
    font-family: "IM Fell DW Pica SC", serif;
    font-size: 18px;
}

#attribution {
  width: 20vw;
  height: 5vh;
}

#score {
  font-size: 18px;
}

#piecesLeft {
  font-size: 18px;
}

#currentStreak {
  font-size: 18px;
}